 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            min-height: 100dvh; 
            display: flex; 
            justify-content: center;
            align-items: center;
            background:rgb(226, 223, 223);
        }
        #main {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  margin-top: 20px;
}

#main input {
  width: 200px;
  padding: 8px;
  margin-bottom: 15px; 
  text-align: center;
}

        #card{
            margin-top: 20px;
            border:2px solid black;
            height:170px;
            width:150px;
             background-size: cover;    
            /* background-image:url("https://plus.unsplash.com/premium_photo-1749669869018-8a33825100f0?q=80&w=688&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ; */
         background-position: center;
         color:white;
           position: relative; 
}

.content {
  position: absolute;
  bottom: 10px;   
  left: 22px;    
  color: white;
}
#cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:3px;
    flex-wrap: wrap;
}
